<br>
<div>Browser time: <time id="current-date"></time></div>
<br>
<table class="o-table " data-o-component="o-table">
	<thead>
		<th>Publish Date</th>
		<th>Default o-date output</th>
		<th><i>time-ago-limit-4-hours</i> output</th>
		<th><i>date-only</i> output</th>
		<th><i>as-today-or-yesterday-or-nothing</i> output</th>
		<!--<th><i>init</i> output</th>-->
	</thead>
	<tbody>
		<tr>
			<td>Recently</td>
			<td><time data-o-component="o-date" class="o-date" datetime=""></time></td>
			<td><time data-o-component="o-date" class="o-date" datetime="" data-o-date-format="time-ago-limit-4-hours"></time></td>
			<td><time data-o-component="o-date" class="o-date" datetime="" data-o-date-format="date-only"></time></td>
			<td><time data-o-component="o-date" class="o-date" datetime="" data-o-date-format="today-or-yesterday-or-nothing"></time></td>
		</tr>

		<tr>
			<td>Earlier today</td>
			<td><time data-o-component="o-date" class="o-date" datetime=""></time></td>
			<td><time data-o-component="o-date" class="o-date" datetime="" data-o-date-format="time-ago-limit-4-hours"></time></td>
			<td><time data-o-component="o-date" class="o-date" datetime="" data-o-date-format="date-only"></time></td>
			<td><time data-o-component="o-date" class="o-date" datetime="" data-o-date-format="today-or-yesterday-or-nothing"></time></td>
		</tr>

		<tr>
			<td>Yesterday</td>
			<td><time data-o-component="o-date" class="o-date" datetime=""></time></td>
			<td><time data-o-component="o-date" class="o-date" datetime="" data-o-date-format="time-ago-limit-4-hours"></time></td>
			<td><time data-o-component="o-date" class="o-date" datetime="" data-o-date-format="date-only"></time></td>
			<td><time data-o-component="o-date" class="o-date" datetime="" data-o-date-format="today-or-yesterday-or-nothing"></time></td>
		</tr>

		<tr>
			<td>Few days ago</td>
			<td><time data-o-component="o-date" class="o-date" datetime=""></time></td>
			<td><time data-o-component="o-date" class="o-date" datetime="" data-o-date-format="time-ago-limit-4-hours"></time></td>
			<td><time data-o-component="o-date" class="o-date" datetime="" data-o-date-format="date-only"></time></td>
			<td><time data-o-component="o-date" class="o-date" datetime="" data-o-date-format="today-or-yesterday-or-nothing"></time></td>
		</tr>


		<tr>
			<td>Long ago</td>
			<td><time data-o-component="o-date" class="o-date" datetime="2000-06-14T23:00:00.000Z"></time></td>
			<td><time data-o-component="o-date" class="o-date" datetime="2000-06-14T23:00:00.000Z" data-o-date-format="time-ago-limit-4-hours"></time></td>
			<td><time data-o-component="o-date" class="o-date" datetime="2000-06-14T23:00:00.000Z" data-o-date-format="date-only"></time></td>
			<td><time data-o-component="o-date" class="o-date" datetime="2000-06-14T23:00:00.000Z" data-o-date-format="today-or-yesterday-or-nothing"></time></td>
		</tr>
	</tbody>
</table>
